<!DOCTYPE html>
<html>
<head>
  <title>Rtunes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <nav>
      <%= link_to 'The Queue', root_path %>
      <%= link_to 'Songs', songs_path %>
      <%= link_to 'Add a song', new_song_path %>

      <% if @player.playing? %>
        <span class="now-playing">
          <%= @player.song.try(:title) %>
        </span>
        <%= link_to 'Stop', stop_path, method: :post %>
      <% else %>
        <%= link_to 'Play', play_path, method: :post %>
      <% end %>
    </nav>
  </header>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

<%= yield %>

</body>
</html>
